@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Signature";
  src: url("/fonts/signature/autografpersonaluseonly-mobm-webfont.woff2") format("woff2"), url("/fonts/signature/autografpersonaluseonly-mobm-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "signature";
  src: url("/fonts/shopping_script_demo.woff2") format("woff2"), url("/fonts/shopping_script_demo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Display Ultralight";
  src: url("/fonts/SF/SFProDisplay-Ultralight.woff2") format("woff2"), url("/fonts/SF/SFProDisplay-Ultralight.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF Compact Display Ultralight";
  src: url("/fonts/SF/SFCompactDisplay-Ultralight.woff2") format("woff2"), url("/fonts/SF/SFCompactDisplay-Ultralight.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF Compact Display Light";
  src: url("/fonts/SF/SFCompactDisplay-Light.woff2") format("woff2"), url("/fonts/SF/SFCompactDisplay-Light.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF Compact Display Thin";
  src: url("/fonts/SF/SFCompactDisplay-Thin.woff2") format("woff2"), url("/fonts/SF/SFCompactDisplay-Thin.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF Compact Display Regular";
  src: url("/fonts/SF/SFCompactDisplay-Regular.woff2") format("woff2"), url("/fonts/SF/SFCompactDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF Compact Display Medium";
  src: url("/fonts/SF/SFCompactDisplay-Medium.woff2") format("woff2"), url("/fonts/SF/SFCompactDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF Compact Display SemiBold";
  src: url("/fonts/SF/SFCompactDisplay-Semibold.woff2") format("woff2"), url("/fonts/SF/SFCompactDisplay-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF Compact Display Bold";
  src: url("/fonts/SF/SFCompactDisplay-Bold.woff2") format("woff2"), url("/fonts/SF/SFCompactDisplay-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF Compact Display Black";
  src: url("/fonts/SF/SFCompactDisplay-Black.woff2") format("woff2"), url("/fonts/SF/SFCompactDisplay-Black.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF Compact Display Heavy";
  src: url("/fonts/SF/SFCompactDisplay-Heavy.woff2") format("woff2"), url("/fonts/SF/SFCompactDisplay-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
.font-barlow {
  font-family: "Barlow", sans-serif;
}

.font-SFProDisplay {
  font-family: "SF Pro Display Ultralight";
}

.font-SFRegular {
  font-family: "SF Compact Display Regular";
}

.font-SFMedium {
  font-family: "SF Compact Display Medium";
}

.font-SFSemiBold {
  font-family: "SF Compact Display SemiBold";
}

.font-SFBold {
  font-family: "SF Compact Display Bold";
}

.font-SFBlack {
  font-family: "SF Compact Display Black";
}

.font-SFHeavy {
  font-family: "SF Compact Display Heavy";
}

.font-novecento {
  font-family: "novecento-sans-wide", sans-serif;
}

body {
  font-family: "SF Compact Display Regular";
  -webkit-font-smoothing: antialiased; /* Safari, Chrome */
  -moz-osx-font-smoothing: grayscale; /* Firefox */
}

@layer utilities {
  .bg-auto-100 {
    @apply bg-[auto_100%];
  }
  .bg-auto-150 {
    @apply bg-[auto_150%];
  }
  .bg-auto-170 {
    @apply bg-[auto_170%];
  }
  .bg-auto-190 {
    @apply bg-[auto_190%];
  }
  .bg-position {
    @apply bg-[130%_110%];
  }
  .bg-position-sm {
    @apply bg-[108%_110%];
  }
}
@layer base {
  body {
    @apply bg-slate-50 text-slate-950;
  }
  .gradient-section {
    @apply bg-gradient-to-br from-sky-600 to-indigo-950 rounded-t-3xl relative z-20;
  }
  .gradient-section h2 {
    @apply text-slate-50;
  }
  .gradient-section p {
    @apply text-slate-50;
  }
  .gradient-section .arrow-button {
    @apply bg-slate-950 text-slate-50;
    top: 20px;
  }
  .gradient-section .arrow-button:hover {
    @apply bg-slate-600;
  }
  .gradient-section .heading-divider {
    @apply bg-slate-50;
  }
  .gradient-section .large-list-divider {
    @apply before:bg-slate-950 after:bg-slate-600;
  }
  .gradient-section .divider {
    @apply border-slate-950;
  }
  .dark-section {
    @apply bg-slate-800 text-slate-50;
  }
  .dark-section .arrow-button {
    @apply bg-slate-50 text-slate-950;
    top: 20px;
  }
  .dark-section .arrow-button:hover {
    @apply bg-slate-600;
  }
  .dark-section .heading-divider {
    @apply bg-slate-50;
  }
  .dark-section .lead {
    @apply text-slate-200;
  }
  .dark-section .large-list-divider {
    @apply before:bg-slate-950 after:bg-slate-600;
  }
  .dark-section .divider {
    @apply border-slate-50;
  }
  .light-section {
    @apply bg-gradient-to-br from-sky-50 to-slate-100 text-slate-950 relative z-20;
  }
  .light-section .arrow-button {
    @apply bg-slate-950 text-slate-50;
    top: 20px;
  }
  .light-section .arrow-button:hover {
    @apply bg-slate-600;
  }
  .light-section .heading-divider {
    @apply bg-slate-950;
  }
  .light-section .lead {
    @apply text-slate-600;
  }
  .light-section .large-list-divider {
    @apply before:bg-slate-50 after:bg-slate-200;
  }
  .light-section .divider {
    @apply border-slate-950;
  }
  .blue-section {
    @apply bg-sky-800 text-slate-50;
  }
  .blue-section .arrow-button {
    @apply bg-slate-950 text-slate-50;
    top: 20px;
  }
  .blue-section .arrow-button:hover {
    @apply bg-slate-600;
  }
  .blue-section .large-list-divider {
    @apply before:bg-slate-950 after:bg-slate-600;
  }
  .blue-section .divider {
    @apply border-slate-950;
  }
  .slate-section {
    @apply bg-slate-500;
  }
  .slate-section h2 {
    @apply text-slate-50;
  }
  .slate-section p {
    @apply text-slate-50;
  }
  .slate-section .arrow-button {
    @apply bg-slate-950 text-slate-50;
    top: 20px;
  }
  .slate-section .arrow-button:hover {
    @apply bg-slate-600;
  }
  .slate-section .heading-divider {
    @apply bg-slate-50;
  }
  .slate-section .large-list-divider {
    @apply before:bg-slate-950 after:bg-slate-600;
  }
  .slate-section .divider {
    @apply border-slate-950;
  }
  .image-section {
    @apply relative z-20;
  }
  .image-section .arrow-button {
    @apply bg-slate-950 text-slate-50;
    top: 20px;
  }
  .image-section .arrow-button:hover {
    @apply bg-slate-600;
  }
  .image-section .heading-divider {
    @apply bg-slate-950;
  }
  .image-section .lead {
    @apply text-slate-600;
  }
  .image-section .large-list-divider {
    @apply before:bg-amber-600 after:bg-amber-400;
  }
  .image-section .divider {
    @apply border-slate-950;
  }
}
.fade-in {
  animation: fadeIn 0.5s forwards;
}

.fade-out {
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.opening-hours-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.opening-hours-list li {
  margin-bottom: 8px;
  font-size: 14px;
  color: #ffffff;
}

.opening-hours-list li span {
  color: #ffffff;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.success-message {
  transition: opacity 0.5s ease-in-out;
}

.success-message.hidden {
  opacity: 0;
}

.header-content {
  transition: max-height 0.5s ease, padding 0.5s ease;
  overflow: hidden;
  max-height: 0;
  padding-top: 0;
}

.header-content.open {
  max-height: 100vh;
  padding-top: 0.5rem;
}

.slick-arrow {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.slick-slide {
  outline: 1px solid red; /* Debugging border to ensure slides are visible */
}

.placeholder {
  filter: blur(10px);
  transition: filter 0.3s;
}

.loaded {
  filter: blur(0);
}

.blog-post a {
  display: inline !important;
  white-space: nowrap;
  text-decoration: underline;
  color: #3182ce;
}